
# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore database file
db.sqlite3

# Ignore the .DS_Store file commonly created on macOS
.DS_Store

# Ignore migration directories
*/migrations/

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore data files
ShellScript/data/author2title2book.json
ShellScript/data/book_database.csv
ShellScript/data/format2genre2book.json
Django
data